⛑️. Main part: 
    * Navbar: Left side blog button. center donate logo and brand name and right side logo and balance.✅
    *Center Button: 2 button with center aligment. donation and history button.✅

    👨🏼‍💻functional: when click button show this section. initinally hide the button.
        1. Donation: donation section will be open and close history section.
        2. history: history section will be open and close donation section.
    
        *history section: it will be dinamically. when donate, creat a card.with h5 tage and bottom p tage.
        👨🏼‍💻funtional: 
            1. donation amount will be show.
            2. donation title will be show.
            3.  show the donation time in bottom p tag.

    * Card section: create minimum 3 cards. left side a img. right side total amount h3 tag and p tag. bottom with a input which is take donation ammount and a donation button bottom of the amount input. 

    👨🏼‍💻functional: Click the donate now button with the integer value in donate ammount input value . the amount will be added in the total donation of the specific section. 
        1. negetive number is not allow. give a aleart.
        2. string is not allow . give a aleart.
        3.when donate amont the initial balance will be decress or substract



🏆challanging part:
     1. when click donation or history button bg color will be change.
     2. when click blog button. change the html page to blog page.
        * creat FAQ question section.
        * answeer the question.
        * 4 question and 4 answeer.
     3. responsive the full webpage
     4. when sroll the page the nav and button section its means total header section will be sticky.
     5. when click the donate now button. ad modal will be open. 
     note: open modal with click donate now button is challanging part. if you can't do it. you can add a aleart. but it will count on main part. Use a common function in this whole project. it will be any kind of function.



